<br>
<h1><span class="badge badge-pill badge-primary">EDUCATION</span></h1>
<br>

<table class="table table-bordered table-hover">
	<tbody>
		<tr>
			<td>Degree</td>
			<td>{{ education_degree }}</td>
		</tr>
		<tr>
			<td>College Name</td>
			<td>{{ education_college_name }}</td>
		</tr>
		<tr>
			<td>Course Duration</td>
			<td>{{ education_course_duration }}</td>
		</tr>
		<tr>
			<td>Percentage</td>
			<td>{{ education_percentage }}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{ education_description }}</td>
		</tr>
	</tbody>
</table>